a{
    text-decoration: none;
    color: #333;
}

.home-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.hbtn{
    background-color: #f5f5f5;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: #080000;
    padding: 0 20px;
    border-bottom: 2px red solid;
}