* {
  margin: 0;
  padding: 0;
}

.head{
  background-color: #f5f5f5;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: rgb(255, 0, 0) 2px solid;
}

.body-tag {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333;

  display: flex;
  flex-direction: row;
}

.body-left{
  flex-basis: 20%;
  background-color: #f5f5f5;
  border-right: red 2px solid;
  padding-top: 10px;
  min-width: 230px;
}

.unit{
  margin-left: 15px;
  border-left: red 2px solid;
  margin-bottom: 3px;
  padding-left: 0px;
}

.sub-units li{
  margin-left: 20px;
  border-left: red 2px solid;
  margin-bottom: 3px;
  padding-left: 5px;
}

ul {
  list-style-type: none;
}

.sign{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0px 4px;
  width: 15px;
  margin-left: 3px;
}
.eiphen{
  color: red;
  margin-left: 0px;
  padding: 0px;
}

.selected{
  background-color: white;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.body-right{
  padding-left: 30px;
  flex-basis: 80%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
